body {
  font-size: 18px;
}
@media (max-width: 2159px) {
  body {
    font-size: 16px;
  }
}
@media (max-width: 1440px) {
  body {
    font-size: 14px;
  }
}
@media (max-width: 1040px) {
  body {
    font-size: 12px;
  }
}
@media (max-width: 900px) {
  body {
    font-size: 10px;
  }
}

.login{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    .login__background{
        position: absolute;
        width: 100%;
        height: 100vh;
        pointer-events: none;
        overflow: hidden;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .login__form{
        position: absolute;
        width: 30%;
        height: 80%;
        background-color: rgba(25, 26, 53, 0.877);
        left: 50%;
        top: 50%;
        max-width: 600px;
        max-height: 800px;
        transform: translate(-50%, -50%);
        border-radius: 2em;
        display: flex;
        align-items: center;
        justify-content: start;
        flex-direction: column;
        @media (max-width: 768px) {
            width: 70%;
            height: 50%;
        }
        .loginTitle{
            width: 100%;
            padding: 5rem 0rem;
            text-align: center;
            h1{
                color: white;
                font-size: 2.5em;
            }
        }
        .loginInput{
            width: 90%;
            height: 17%;
            position: relative;
            input{
                position: relative;
                width: 100%;
                box-sizing: border-box;
                outline: none;
                border: none;
                height: 3em;
                border-radius: 2em;
                padding-left: 2em;
                font-size: 1em;
                background-color: rgba(25, 26, 53, 0.877);
                color: white;
                &:focus+span,&:not(:placeholder-shown)+span{
                    top: -1.5em;
                }
            }
            span{
                position: absolute;
                top: 1em;
                left: 2em;
                color: white;
                transition: all .2s ease-in;
            }
            
        }
        .loginButton{
            width: 90%;
            text-align: center;
            background-color: wheat;
            height: 3em;
            border-radius: 2em;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: rgb(58, 72, 90);
            transition: all .1s ease-in;
            cursor: pointer;
            &:hover{
                background-color: rgb(50, 71, 99);
            }
            span{
                color: white;
                font-size: 1em;
            }
        }
    }
    .loading{
        display: none;
        position: absolute;
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: center;
        img{
            width: 5em;
            height: 5em;
            object-fit: cover;
        }
    }
    .loadingacctive{
        position: fixed;
        display: flex;
    }
    .notification{
        display: none;
        position: fixed;
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: center;
        background-image: linear-gradient(to right top, rgba(25, 28, 43, 0.7), rgba(33, 43, 96, 0.7));
        .notificationBox{
            position: relative;
            width: 30em;
            height: 10em;
            max-width: 400px;
            max-height: 400px;
            min-width: 100px;
            min-height: 100px;
            background-image: linear-gradient(to right top, rgb(25, 28, 43), rgb(33, 43, 96));
            display: flex;
            border-radius: 1.5em;
            box-sizing: border-box;
            border: 1px solid rgb(41, 0, 226);
            box-shadow: 0 4px 12px rgba(0, 89, 255, 0.1);
            .boxIcon{
                width: 20%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                img{
                    width: 3em;
                    height: 3em;
                    object-fit: cover;
                }
            }
            .boxText{
                width: 80%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                .title{
                    width: 100%;
                    height: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: start;
                    p{
                        font-size: 1em;
                        color: white;
                    }
                }
                .content{
                    width: 100%;
                    height: 50%;
                    p{
                        font-size: 1em;
                        color: white;
                    }
                }
            }
            .boxClose{
                position: absolute;
                width: 1.5em;
                height: 1.5em;
                right: 1em;
                top: 1em;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
    
            }
        }
    }
    .notificationAcctive{
        display: flex;
    }
}